<div class = "m-5">

  <h1>New des véhicules</h1>

  <%= simple_form_for(@vehicule) do |f| %>
    <%= f.input :name %>
    <%= f.input :type_object %>
    <%= f.input :description %>
    <%= f.input :type_of_person %>
    <%= f.input :vehicule_location %>
    <%= f.submit %>
  <% end %>

</div>
