<div class = "m-5">
  <h1>Show des véhicules</h1>
  <%= @vehicule.name %>
  <%= @vehicule.type_object  %>
  <%= @vehicule.description %>
  <%= @vehicule.type_of_person %>
  <%= @vehicule.vehicule_location %>

</div>

<h1>Réservation d'un véhicule</h1>
  <%= simple_form_for [@vehicule, Booking.new] do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date %>
    <%= f.submit "Réserver", class: "btn btn-primary" %>
  <% end %>
